* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors - Primary */
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    /* Colors - Neutral */
    --neutral-dk-blue: hsl(234, 12%, 34%);
    --neutral-gray-blue: hsl(229, 6%, 66%);
    --neutral-lt-gray: hsl(0, 0%, 98%);
    /* Typography */
    --fwght-lt: 200;
    --fwght-md: 400;
    --fwght-bld: 600;
}


/*Global*/

body {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
}

h1,
h2 {
    font-weight: var(--fwght-bld);
    color: var(--neutral-dk-blue);
}

p {
    font-size: 0.75rem;
    font-weight: var(--fwght-md);
    color: var(--neutral-gray-blue);
}


/*Utility*/

.hero {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.hero-lead-in-txt {
    font-size: 1.2rem;
    font-weight: var(--fwght-md);
    color: var(--neutral-gray-blue);
}


/*cards*/

.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 1.5rem;
    /*Testing*/
    outline: 1px solid limegreen;
}

.card-super {
    border-top: 5px solid var(--primary-cyan);
}

.card-team {
    border-top: 5px solid var(--primary-red);
}

.card-karma {
    border-top: 5px solid var(--primary-orange);
}

.card-calc {
    border-top: 5px solid var(--primary-blue);
}


/* footer */

.footer {
    border-top: 1px solid var(--neutral-gray-blue);
    text-align: center;
}

.author-portfolio {
    font-size: .75rem;
    text-decoration: none;
    color: var(--neutral-gray-blue);
    cursor: pointer;
}

.author-portfolio:hover {
    color: var(--primary-orange);
    transition: 250ms ease-in-out;
}